/*Iput Styling*/

/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}

.overflow {
  height: 500px;
  overflow-y: auto;
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid #98dafc;
    color: #98dafc;
    background-color: white;
}

.btn:hover {
  background-color: #feffff;
}

.btn:active {
  background-color: white;
}

body {
  background-color: #feffff;
}

main {
  flex: 1 0 auto;
}

h1 {
  display: inline-block;
  border-top: 8px solid #ee6e73;
  /*text-decoration: overline solid;*/
  font-weight: bold;
}

.header {
  color: #daad86;
  font-size: 14rem;
}


.subheader {
  color: #ee6e73;
}


/*::-webkit-input-placeholder {
   color: white;
}*/

/*.header {
  background-color: #9ad3de;
  margin: 0;
}

.subheader {
  background-color: #89bdd3;
}*/
